/* VARIABLES */
:root {
  --primary-color: #9792E4;
  --secondary-color: #0084FD;
  --header-height: 75px;
  --text-color: #5A6E7F;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY */
.debug {
  height: 50px;
  background-color: rgba(255, 0, 0, 0.268);
  border: 1px solid red;
}

.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.btn {
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

.white-btn {
  background-color: white;
  color: black;
}

.purple-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 50px;
  font-weight: 600;
  letter-spacing: 2px;
}

.blue-btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 45px;
  font-weight: 600;
  letter-spacing: 2px;
}

.btn i:not(.fa-arrow-down-long) {
  margin-right: 5px;
}

.btn:hover {
  filter: brightness(1.15);
  transition: all .5s;
}

.text-center {
  text-align: center;
}

p.section-name {
  font-size: 1.2rem;
  text-transform: uppercase;
}

/*****************************************
    GENERAL
*****************************************/
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body {
  font-family: "PT Sans", sans-serif;
}

img {
  max-width: 100%;
}

section:not(:first-child) {
  padding: 65px 0;
}

section:nth-child(2n) {
  background-color: var(--primary-color);
  color: white;
}

h3 {
  font-size: 2.3rem;
  padding-bottom: 50px;
}

h4 {
  color: var(--secondary-color);
  font-size: 1.5rem;
  padding: 25px 0;
}
/******************************************
    HEADER
******************************************/
header {
  height: var(--header-height);
  background-color: var(--secondary-color);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

header .container {
  justify-content: space-between;
  flex-direction: row;
  height: var(--header-height);
  line-height: var(--header-height);
}

header .logo img {
  vertical-align: middle;
}

header a {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: none;
}

header .nav-hamburger i {
  font-size: 1.6rem;
  vertical-align: middle;
  cursor: pointer;
}

header .nav-desktop {
  display: none;
}

/******************************************
    MAIN
******************************************/
/* Section Functions */
#functions {
  padding: 50px 0 80px;
  margin-top: var(--header-height);
}

#functions .container {
  gap: 24px;
}

#functions .row {
  width: 100%;
  gap: 24px;
}

#functions .col {
  width: 100%;
}

#functions .col .card {
  background-color: #B5DDFF;
  border-radius: 20px;
  height: 100%;       
}

#functions .col .card .text-box {
  padding: 8px 25px;
}

#functions .col .card .text-box > i {
  margin-top: 30px;
  font-size: 5rem;
  color: var(--secondary-color);
}

#functions .col .card .text-box p {
  color: var(--text-color);
  font-weight: 800;
  line-height: 1.75rem;
  padding-bottom: 35px;
}

#functions .col .card .img-box {
  justify-content: center;
}

#functions .col .card img {
  width: 250px;
  margin-top: 40px;
}

/* Section Planning */
#planning .col {
  width: 100%;
}

#planning .col:last-child {
  margin-top: 30px;
}

#planning .card {
  background-color: white;
  border-radius: 40px;
  padding: 20px;
}

#planning .card p {
  font-size: 1.1rem;
  font-weight: 600;
  font-style: italic;
  color: var(--text-color);
}

#planning .card .btn {
  margin: 30px auto 10px;
  width: 50px;
  aspect-ratio: 1;
  background-color: var(--primary-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: black;
}

#planning .card .btn:hover {
  color: white;
}

#planning .col p {
  line-height: 1.75rem;
}

#planning h4 {
  color: black;
}

/* Section Testimonials */
#testimonials {
  padding-bottom: 110px;
}

#testimonials .section-description h3 {
  color: var(--primary-color);
  padding: 25px 0;
}

#testimonials .section-description p:not(:first-child) {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
  line-height: 2rem;
}

#testimonials .card {
  background-color: var(--primary-color);
  margin-top: 35px;
  padding: 30px 15px;
  border-radius: 40px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.2rem;
}

#testimonials .card img {
  object-fit: cover;
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
}

#testimonials .card .test-name {
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 20px;
}

/* Section Benefits */
#benefits .row {
  flex-wrap: wrap;
  gap: 30px;
}

#benefits .col {
  width: 100%;
}

#benefits .card {
  background-color: white;
  border-radius: 20px;
  padding: 30px 30px 40px;
  color: var(--text-color);
}

#benefits .card-number,
#benefits h4 {
  color: var(--primary-color);
}

#benefits .card-number {
  font-size: 3rem;
  font-weight: bold;
}

#benefits .description {
  line-height: 1.8rem;
  margin-bottom: 35px;
}

/* About Us Section */
#about-us .text-box,
#about-us .autor-box {
  width: 100%;
}

#about-us .text-box {
  color: var(--text-color);
  font-weight: 600;
  line-height: 2.2rem;
}

#about-us h2 {
  padding-top: 10px;
  font-size: 3rem;
  color: var(--primary-color);
}

#about-us .text-box p {
  margin: 60px 0;
  font-size: 1.1rem;
}

#about-us .autor-box .autor-pic {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

#about-us .autor-pic img {
  border-radius: 50%;
  width: 180px;
}

#about-us .autor-pic i {
  position: absolute;
  top: 0;
  right: -10px;
  color: var(--primary-color);
  font-size: 4rem;
}

#about-us .autor-box p {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 40px;
}

#about-us .autor-box .btn {
  font-size: .9rem;
  font-weight: 400;
  padding: 8px 16px;
  letter-spacing: normal;
}

/* CTA Section */
#cta .section-name {
  color: #D1D0F3;
  margin-bottom: 15px;
}

#cta h3{
  padding-bottom: 20px;
}

#cta h2{
  color: #FDC15F;
  font-size: 4rem;
  padding-bottom: 20px;
}

#cta p{
  line-height: 1.8rem;
}

#cta .roadmap {
  max-width: 470px;
  margin: 0 auto;
  font-size: .85rem;
}

#cta .btn {
  display: inline-block;
  background-color: white;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 20px 70px;
  border-radius: 40px;
  margin: 30px 0;
}

#cta .btn:hover {
  background-color: rgb(202, 201, 201);
}

#cta .copyright {
  line-height: normal;
  font-size: .85rem;
  padding: 0 10px;
}

#cta .copyright a {
  color: white;
}

/****************************************
    FOOTER
****************************************/
footer {
  background-color: #333333;
  color: #E7E7E7;
  font-size: .85rem;
  padding: 35px 0;
}

footer p:first-child {
  margin: 0 auto 60px;
  max-width: 420px;
}

footer p:last-child {
  max-width: 390px;
  margin: 0 auto;
}

footer a {
  color: var(--primary-color);
}

/****************************************
    MEDIA QUERY
****************************************/
/********************
   TABLET 
********************/
@media (min-width: 768px) {
  .container {
    width: 720px;
    padding: 0;
  }

  /* Functions Section */
  #functions .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #functions .row {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #functions .row .col {
    width: calc(100% / 3 - 16px);
  }

  #functions .row .col:first-child {
    width: calc(100% / 1.5 - 8px);
  }

  #functions .row .col:nth-child(2) {
    width: calc(100% / 3 - 16px);
  }

  #functions .col .card .text-box p {
    font-size: 1.1rem;
  }

  #functions .col .card .btn {
    font-size: 1.15rem;
    padding: 10px 51px;
  }

  #functions .col .card .img-box {
    justify-content: left;
  }
  
  #functions .col .card img {
    margin-left: 30px;
  }

  /* Section Planning */
  #planning h3 {
    font-size: 4rem;
  }

  /* Testimonials Section */
  #testimonials .section-description h3 {
    font-size: 2.5rem;
  }

  #testimonials .section-description p {
    padding: 0 14px;
  }
  
  #testimonials .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  #testimonials .card .row .col:last-child {
    width: 80%;
    padding-left: 25px;
  }

  /* Benefits Section */
  #benefits .col {
    width: calc(50% - 15px);
  }

  #benefits .card-number {
    font-size: 4rem;
  }

  /* About Us Section */
  #about-us .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }

  #about-us .text-box {
    width: 100%;
    padding-right: 80px;
  }

  #about-us h2 {
    font-size: 4.3rem;
  }

  #about-us .autor-box {
    width: 340px;
  }

  #about-us .autor-pic img {
    width: 230px;
  }

  /* CTA Section */
  #cta h3 {
    font-size: 3rem;
  }

  #cta h2 {
    font-size: 6rem;
  }

  #cta .btn {
    padding: 25px 80px;
  }

  #cta .roadmap,
  #cta .copyright {
    font-size: 1rem;
  }

  /* Footer */
  footer {
    font-size: 1rem;
  }
}

/********************
   DESKTOP 
********************/
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  /* Header */
  header .nav-desktop {
    display: inline-block;
  }

  header .nav-desktop li {
    list-style: none;
    height: var(--header-height);
    line-height: var(--header-height);
  }

  header .nav-desktop li:not(:last-child) a{
    display: inline-block;
    padding: 0 17px;
  }

  header .nav-desktop li:not(:last-child) a:hover {
    background-color: var(--secondary-color);
    filter: brightness(1.15);
    transition: all .5s;
  }

  header .nav-desktop .btn.white-btn {
    padding: 7px 15px;
    margin-left: 15px;
    color: black;
  }

  header .nav-desktop .btn:hover {
    background-color: rgb(202, 201, 201);
  }

  header .nav-hamburger {
    display: none;
  }

  /* Functions Section */
  #functions .col .card {
    flex-direction: row;
  }

  #functions .row .col:first-child .text-box {
    width: 60%;
  }

  #functions .col p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  #functions .row .col:first-child p {
    padding-right: 20px;
    margin-bottom: 10px;
  }

  #functions .col .card .img-box {
    width: 325px;
  }

  #functions .col .card img {
    width: 250px;
    margin: 65px 0 0;
  }

  /* Planning Section */
  #planning .container {
    flex-direction: row;
    width: 900px;
    gap: 60px;
  }

  #planning h3 {
    font-size: 2rem;
    margin-top: 80px;
  }

  #planning .col:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0;
  }

  #planning .card img {
   padding: 0 75px;
  }

  /* Testimonials Section */
  #testimonials .section-description h3 {
    font-size: 2.9rem;
  }

  #testimonials .section-description p {
    padding: 0 20px;
  }

  /* Benefits Section */
  #benefits .col {
    width: calc(100% / 3 - 20px);
  }

  /* About Us Section */
  #about-us .text-box {
    padding-right: 100px;
  }

  #about-us .text-box p {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }

  #about-us .autor-pic img {
    width: 250px;
  }
}