/* VARIABLES */
:root {
  --primary-color: #9792E4;
  --secondary-color: #0084FD;
  --header-height: 75px;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY */
.debug {
  height: 50px;
  background-color: rgba(255, 0, 0, 0.268);
  border: 1px solid red;
}

.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

/*****************************************
    GENERAL
*****************************************/
body {
  font-family: "PT Sans", sans-serif;
}

section:not(:first-child) {
  padding: 65px 0;
}

section:nth-child(2n) {
  background-color: var(--primary-color);
}

h3 {
  text-align: center;
}



/******************************************
    HEADER
******************************************/
header {
  background-color: var(--secondary-color);
  color: white;
  height: var(--header-height);
}

header .container {
  justify-content: space-between;
  flex-direction: row;
}

header .nav-desktop {
  display: none;
}

/******************************************
    MAIN
******************************************/
/* Section Functions */
#functions {
  margin: 50px 0 80px;
}

#functions .col {
  width: 100%;
  height: 300px;     /* DEBUG */
}

#functions .col:first-child {
  height: 600px;     /* DEBUG */
}

/* Section Planning */
#planning .col {
  width: 100%;
  height: 250px;     /* DEBUG */
}

#planning .col:first-child {
  margin-bottom: 30px;
}

/* Section Testimonials */
#testimonials .section-description {
  text-align: center;
}

#testimonials .col {
  background-color: var(--primary-color);
}

/* Section Benefits */
#benefits .row {
  flex-wrap: wrap;
}
#benefits .col {
  width: 100%;
}

/* About Us Section */
#about-us .text-box,
#about-us .autor-box {
  width: 100%;
  height: 150px;        /*DEBUG*/
  margin: 20px 0;       /*DEBUG*/
}

/* CTA Section */
#cta .container {
  text-align: center;
}

/****************************************
    MEDIA QUERY
****************************************/
/* TABLET */
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 810;
  }

  /* Functions Section */
  #functions .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #functions .col {
    width: calc(100% / 3);
    height: 300px;    
  }
  
  #functions .col:first-child {
    width: calc(100% / 3 * 2);
    height: 300px; 
  }

  /* Benefits Section */
  #benefits .col {
    width: 50%;
  }

  /* About Us Section */
  #about-us .container {
    flex-direction: row;
  }

  #about-us .text-box {
    width: 70%;
  }

  #about-us .autor-box {
    width: 30%;
  }

  /* CTA Section */
#cta .container {
  width: 565px;
}
}

/* DESKTOP */
@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }

  /* Header */
  header .nav-desktop {
    display: inline-block;
  }

  header .nav-hamburger {
    display: none;
  }

  /* Planning Section */
  #planning .container {
    flex-direction: row;
    max-width: 940px;
  }

  /* Benefits Section */
  #benefits .col {
    width: calc(100% / 3);
  }

}
